{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Books</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="/book/create" class="btn btn-success">Add new book</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Location</th>
                    <th>Updated at</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.location }}</td>
                            <td>{{ book.updated_at }}</td>
                            <td>{{ book.created_at }}</td>
                            <td>
                                <a href="/book/edit/{{ book.id }}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/book/delete/{{ book.id }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}